


<div class="flexLayout container" >
    <mat-toolbar >
        <div fxFlex>
            <h1>MAGICFLORA<img src="./assets/images/logo.jpg" height="50px" width="50px"></h1>
        </div> 
        
        <div  class="item">
            <span><a routerLink="/menu" ><mat-icon>home</mat-icon>HOME</a></span>
            <span><a (click)="account()"><mat-icon>account_box</mat-icon>ACCOUNT</a></span>
            <span><a routerLink="/collection"><mat-icon>photo</mat-icon>COLLECTION</a></span>
            <span><a href=""><mat-icon>add_shopping_cart</mat-icon>CART</a></span>
            <span><a href=""><mat-icon>help</mat-icon>HELP</a></span>
        </div>

    </mat-toolbar>
</div>




