/*.container{
    background-color:pink;
    padding:40px;

}
.menu ul{
    list-style-type:none;
    display:inline;
}
.menu li{
float:left;
}
.menu li a{
    padding:30px;
    text-decoration:none;
}*/



 .item a
 {
    text-decoration:none;
    color:black;
}
.container
{
    background-color:skyblue;
    padding: 1%;
}


