
<div class="container">
<div class="flexLayout container">
    <mat-grid-list cols="3" rowHeight="400px" >
    <div fxFlex> 
        <mat-grid-tile [colspan]="3">
            <h1>MAGICFLORA</h1>
            <h1>THE BIGGEST SELECTION OF FRESH FLOWERS FOR ANY OCCASION </h1>

        </mat-grid-tile>
   </div>
         <mat-grid-tile>
            <mat-card class="card" >
                    <mat-card-header>
                        <mat-card-title>VISION</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                       <p>
                            To be leader in providing floral products and services in the online and retail industry that maintains a tradition
                            of exceeding customer's expectations at a reasonable price.
                       </p>
                     </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="card" >
                    <mat-card-header>
                        <mat-card-title>MISSION</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                       <p>
                           Dedicate to growing excellent assessment of superior plants and provide our customer with the best service possible using 
                           the technology to target the customer and differntiate from other traditional retail and online florists by offering flower
                           gifts with better service. 
                       </p>
                     </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card" >
                    <mat-card-header>
                        <mat-card-title>OBJECTIVES</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                       <p>
                       Fullfill the customer wants and give them better product so that our customer will satisfy.
                       Provide a customer's desire arrangement of flowers for any occasion.
                       Ensure the quality of our flowers and generate maximum revenue.
                       </p>
                     </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>



</div>




